<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <span>Contacts</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->

<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS 1-->

<div class="clearfix"></div>
<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->
<div class="data__filter">
    <div class="form__structure shadow">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Name:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input [(ngModel)]="searchName" type="text" class="form-control" placeholder="Name" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Enquire Types:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select [(ngModel)]="searchType" type="text" class="form-control">
                                    <option value="" selected>Please Select</option>
                                    <option *ngFor="let enquireType of enquireTypes" value="{{enquireType.id}}">{{enquireType.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="action-buttons text-center col-md-6 col-sm-6 col-xs-12" style="margin:0">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button href="javascript:;" class="btn blue" (click)="searchData()">Submit</button>
                            <button type="reset" href="javascript:;" class="btn grey" (click)="clearSearch()">Cancel</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="table__structure">
    <app-paginate [message]="true" [pagination]="pagination"></app-paginate>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-checkable order-column" id="sample_1_2">
            <thead>
                <tr>

                    <th>
                        <a appSorting (click)="onSortChange('id')">Id</a>
                    </th>

                    <th>
                        <a appSorting (click)="onSortChange('name')">Name</a>
                    </th>

                    <th>
                        <a appSorting (click)="onSortChange('phone')">Mobile</a>
                    </th>

                    <th>
                        <a appSorting (click)="onSortChange('email')">Email</a>
                    </th>

                    <th>
                        <a appSorting (click)="onSortChange('enquire_types')">Enquire Type</a>
                    </th>

                    <th>
                        <a appSorting (click)="onSortChange('city')">City</a>
                    </th>

                    <th>
                        <a appSorting (click)="onSortChange('country')">Country</a>
                    </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" *ngFor="let contact of contacts">
                    <td> {{ contact.id }} </td>
                    <td> {{ contact.name }} </td>
                    <td> {{ contact.phone }} </td>
                    <td> {{ contact.email }} </td>
                    <td> <span *ngFor="let enquireType of enquireTypes">
                        <span *ngIf="enquireType.id == contact.enquire_types">
                            {{ enquireType.name }}
                        </span>
                    </span> </td>
                    <td> {{ contact.city }} </td>
                    <td> {{ contact.country }} </td>
                    <td>
                        <a type="button" class="icon  lightBlue-color" (click)="openModal(template)">
                            <i class=" fa fa-trash"></i>
                        </a>
                    </td>
                    <!--log modal-->
                    <ng-template #message>
                        <div class="modal-header">
                            <h4 class="modal-title pull-left">Message</h4>
                            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p> {{contact.message}}</p>
                        </div>
                    </ng-template>
                    <!--  -->
                    <ng-template #template>
                        <div class="modal-body text-center">
                            <p>Are you sure you want to delete?</p>
                            <button type="button" class="btn btn-default" (click)="confirm(contact.id)">Yes</button>
                            <button type="button" class="btn btn-primary" (click)="decline()">No</button>
                        </div>
                    </ng-template>
                </tr>
            </tbody>
        </table>
    </div>
    <app-paginate [message]="false" [pagination]="pagination" (onPageChange)="onPageChange($event)"></app-paginate>
</div>