<ngx-toasta [position]="'top-right'"></ngx-toasta>
<form (ngSubmit)="add()" #userForm="ngForm" id="contact-form" class="contact-form">
    <fieldset>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 enquiry-form">
                <div class="form-group">
                    <input [(ngModel)]="contact.name" name="name" type="text" id="first-name1" class="form-control" placeholder="Name*" required
                        #name="ngModel">
                    <span *ngIf="name.invalid && (name.dirty || name.touched)" class=" alert-danger">
                        <span *ngIf="name.errors.required" class="validation-message">
                            name is required.
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 enquiry-form">
                <div class="form-group">
                    <input [(ngModel)]="contact.phone" name="phone" type="number" required id="first-name1" class="form-control" placeholder="Phone*"
                        #phone="ngModel">
                    <span *ngIf="phone.invalid && (phone.dirty || phone.touched)" class=" alert-danger">
                        <span *ngIf="phone.errors.required" class="validation-message">
                            phone is required.
                        </span>
                    </span>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 enquiry-form">
                <div class="form-group">
                    <input [(ngModel)]="contact.email" name="email" type="text" required id="first-name1" class="form-control" placeholder="Email*"
                        #email="ngModel">
                    <span *ngIf="email.invalid && (email.dirty || email.touched)" class=" alert-danger">
                        <span *ngIf="email.errors.required" class="validation-message">
                            email is required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 enquiry-form">
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select [(ngModel)]="contact.enquire_types" name="enquire_types" class="form-control form-control-inline" type="text" required
                            value="" #enquire_types="ngModel">
                            <option value="" selected>Please Select</option>
                            <option *ngFor="let enquire of enquireTypes" value="{{enquire.id}}">{{enquire.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 enquiry-form">
                <div class="form-group">
                    <input [(ngModel)]="contact.city" name="city" type="text" id="first-name1" class="form-control" placeholder="City*"
                        required #city="ngModel">
                    <span *ngIf="city.invalid && (city.dirty || city.touched)" class=" alert-danger">
                        <span *ngIf="city.errors.required" class="validation-message">
                            city is required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 enquiry-form">
                <div class="form-group">
                    <input [(ngModel)]="contact.country" name="country" type="text" id="first-name1" class="form-control" placeholder="Country*"
                        required #country="ngModel">
                    <span *ngIf="country.invalid && (country.dirty || country.touched)" class=" alert-danger">
                        <span *ngIf="country.errors.required" class="validation-message">
                            Country is required.
                        </span>
                    </span>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-sm-12 ">
                <div class="form-group mb-none">
                    <button type="submit" [disabled]="!userForm.form.valid" class="btn-ftf-rd-lg-p-dp">Send</button>
                    <button type="reset" href="javascript:;" style="display:none" class="btn grey reset-form" (click)="userForm.reset()">Cancel</button>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-6 col-sm-12">
                <div class='form-response'></div>
            </div>
        </div>
    </fieldset>
</form>