/* here you can put your own css to customize and override the theme */
/* Additional Variables made by Mayank Mehendiratta */
.currency-color {
  color: #b060aa !important; }

.empty-color {
  color: #de1f54 !important; }

.lightBlue-color {
  color: #36c6d3 !important; }

/* Begin Table structure styling */
.table__counters {
  margin-bottom: 8px; }

.table__structure {
  margin: 30px 0;
  overflow: hidden; }
  .table__structure .table {
    text-align: center !important; }
    .table__structure .table > thead > tr {
      /* background: #36c6d3 none repeat scroll 0 0; */
      background: #3598dc none repeat scroll 0 0;
      color: #ffffff; }
      .table__structure .table > thead > tr th {
        text-align: center !important; }
    .table__structure .table > tbody tr td .icon .fa {
      font-size: 18px; }
    .table__structure .table > tbody tr td .icon + .icon {
      margin-left: 15px; }
    .table__structure .table > tbody tr td .icon:hover {
      text-decoration: none !important; }
  .table__structure .actions {
    float: left;
    margin: 10px 0; }
    @media screen and (max-width: 767px) {
      .table__structure .actions {
        text-align: center !important;
        float: none; } }
    .table__structure .actions .green-haze {
      border-color: #36c6d3;
      color: #36c6d3; }
      .table__structure .actions .green-haze:hover, .table__structure .actions .green-haze:focus {
        background: #36c6d3 none repeat scroll 0 0;
        color: #ffffff;
        border-color: #36c6d3; }
  @media screen and (max-width: 767px) {
    .table__structure nav {
      text-align: center !important; } }
  .table__structure nav .pagination {
    float: right !important; }
    @media screen and (max-width: 767px) {
      .table__structure nav .pagination {
        float: none !important; } }

/* //End Table structure styling */
.form__structure {
  margin: 50px 0;
  overflow: hidden; }
  .form__structure.shadow {
    padding: 30px 0;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
    border-radius: 4px 4px 4px 4px !important;
    -moz-border-radius: 4px 4px 4px 4px !important;
    -webkit-border-radius: 4px 4px 4px 4px !important; }
    @media screen and (max-width: 767px) {
      .form__structure.shadow {
        padding: 30px 20px; } }
  .form__structure .section-head {
    margin-bottom: 25px; }
    .form__structure .section-head h3 {
      border-bottom: 1px solid #e4e4e4;
      color: #666;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 17px;
      padding-bottom: 19px; }
  .form__structure .form-group {
    margin-bottom: 20px;
    overflow: hidden; }
    .form__structure .form-group label span {
      color: #de1f54; }
    .form__structure .form-group .form-control {
      border-radius: 4px 4px 4px 4px !important;
      -moz-border-radius: 4px 4px 4px 4px !important;
      -webkit-border-radius: 4px 4px 4px 4px !important; }
      .form__structure .form-group .form-control.bootstrap-select > .dropdown-toggle {
        border-radius: 4px 4px 4px 4px !important;
        -moz-border-radius: 4px 4px 4px 4px !important;
        -webkit-border-radius: 4px 4px 4px 4px !important; }
    .form__structure .form-group textarea.form-control {
      resize: none; }
  .form__structure .action-buttons a, .form__structure .action-buttons button {
    border-radius: 25px 25px 25px 25px !important;
    -moz-border-radius: 25px 25px 25px 25px !important;
    -webkit-border-radius: 25px 25px 25px 25px !important;
    max-width: 100px;
    width: 100%; }
    .form__structure .action-buttons a + a, .form__structure .action-buttons a + button, .form__structure .action-buttons button + a, .form__structure .action-buttons button + button {
      margin-left: 20px; }
  .form__structure .action-buttons.text-center {
    text-align: center; }

.data__filter .action-buttons {
  margin-top: 30px; }
th a, th a:hover {
  color: white;
}
#loading-bar .bar{
  height: 5px;
  /* top: 93px; */
}
.page-header.navbar.navbar-fixed-top, .page-header.navbar.navbar-static-top {
  box-shadow: 0 1px 10px 0 rgba(50,50,50,.2);
  /* background: #fff; */
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown-language>.dropdown-toggle>.langname, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username, .page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>i {
  color:#888;
}
.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
  background-color: #F1F4F7;
}
div.alert.alert-danger{
  margin-bottom: 5px;
  padding: 5px;
}
.form__structure{
  margin-top: 20px;
}
.page-footer a{
  color: #fff;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: block !important;
  }