<!-- BEGIN LOGIN FORM -->
<form (ngSubmit)="onSubmit()" (keydown)="keyDownFunction($event)"  #loginForm="ngForm" class="login-form" action="index.html" method="post">
  <div class="form-title">
    <span class="form-title">Welcome.</span>
    <span class="form-subtitle">Please login.</span>
  </div>
  <div class="alert alert-danger display-hide">
    <button class="close" data-close="alert"></button>
    <span> Enter any email and password. </span>
  </div>
  <div class="form-group">
    <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
    <span>
      <i class="fa fa-user"></i>
    </span>
    <label class="control-label visible-ie8 visible-ie9">Username</label>
    <input [(ngModel)]="user.email" name="email" class="form-control form-control-solid placeholder-no-fix" required  email
      type="text" autocomplete="off" placeholder="email" #email="ngModel" />
  </div>
  <div *ngIf="email.invalid && ( email.touched)" class="alert alert-danger">
    <div *ngIf="email.errors.email">
      Please enter a valid email address.
    </div>
  </div>

  <div class="form-group">
    <span>
      <i class="fa fa-key"></i>
    </span>
    <label class="control-label visible-ie8 visible-ie9">Password</label>
    <input [(ngModel)]="user.password" name="password" #password="ngModel" required
      class="form-control form-control-solid placeholder-no-fix"
      type="password" autocomplete="off" placeholder="Password" />
  </div>
  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
    <div *ngIf="password.errors.required">
      Password is required.
    </div>
  </div>
  <div class="form-actions">
    <button type="submit" [disabled]="!loginForm.form.valid" class="btn red btn-block uppercase">Login</button>
  </div>
</form>
<!-- END LOGIN FORM -->