<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <span>Add Slug</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->

<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS 1-->

<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->
<div class="form__structure">
    <form (ngSubmit)="action == 'add' ? add() : update()" #userForm="ngForm" class="form-horizontal form-row-seperated" enctype="multipart/form-data">
        <div class="form-body">
            <section class="section-head">
                <h3>Slug Details</h3>
            </section>

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Name
                    <span>*</span> :</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input [(ngModel)]="slug.name" name="name" class="form-control form-control-inline date-picker" type="text" required value="" #name="ngModel"
                    />
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                        <div *ngIf="name.errors.required">
                            name is required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="action-buttons">
                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-4 col-xs-offset-0">
                    <button type="submit" [disabled]="!userForm.form.valid" class="btn blue">Submit</button>
                    <button type="reset" href="javascript:;" class="btn grey" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>