<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <span>Slugs</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->

<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS 1-->

<div class="clearfix"></div>
<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->
<div class="data__filter">
    <div class="form__structure shadow">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12">Name:</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input [(ngModel)]="searchName" type="text" class="form-control" placeholder="Name" />
                            </div>
                        </div>
                    </div>
                    <div class="action-buttons text-center col-md-6 col-sm-6 col-xs-12" style="margin:0">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button href="javascript:;" class="btn blue" (click)="searchData()">Submit</button>
                            <button type="reset" href="javascript:;" class="btn grey" (click)="clearSearch()">Cancel</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="table__structure">
    <app-paginate [message]="true" [pagination]="pagination"></app-paginate>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-checkable order-column" id="sample_1_2">
            <thead>
                <tr>

                    <th>
                        <a appSorting (click)="onSortChange('id')">Id</a>
                    </th>

                    <th>
                        <a appSorting (click)="onSortChange('name')">Name</a>
                    </th>
                    <th> Actions </th>
                </tr>
            </thead>
            <tbody>
                <tr class="odd gradeX" *ngFor="let slug of slugs">
                    <td> {{ slug.id }} </td>
                    <td> {{ slug.name }} </td>
                    <td>
                        <a routerLink="/admin/slugs/edit/{{ slug.id }}" title="View" class="icon lightBlue-color">
                            <i class=" fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-paginate [message]="false" [pagination]="pagination" (onPageChange)="onPageChange($event)"></app-paginate>
</div>