<!-- BEGIN LOGO -->
<div class="page-logo">
  <a routerLink="/">
    <img src="assets/images/logo.png" alt="logo" class="logo-default" width="400" /> </a>
  <div class="menu-toggler sidebar-toggler">
    <span></span>
  </div>
</div>
<!-- END LOGO -->