<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" type="text/css" media="screen" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/layouts/layout/css/layout.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/layouts/layout/css/themes/darkblue.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/layouts/layout/css/custom.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/global/css/components.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/global/css/plugins.min.css" type="text/css" media="screen" />

<div class="page-wrapper" ng-cloak>
    <app-header></app-header>
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <app-sidebar></app-sidebar>
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->
                <!-- <flash-messages  style="padding-top: 30px;  float: left; width:100%" ></flash-messages> -->
                <flash-messages></flash-messages>
                <router-outlet></router-outlet>
            </div>
            <!-- END CONTENT BODY -->
        </div>
    </div>
    <!-- END CONTAINER -->
    <app-footer></app-footer>
</div>