<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a routerLink="/">Home</a>
        </li>
        <li>
            <span>Add Pages</span>
        </li>
    </ul>
</div>
<!-- END PAGE BAR -->

<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS 1-->

<div class="clearfix"></div>
<!-- END DASHBOARD STATS 1-->
<div class="form__structure">
    <form (ngSubmit)="action == 'add' ? add() : update()" #userForm="ngForm" class="form-horizontal form-row-seperated" enctype="multipart/form-data">
        <div class="form-body">
            <section class="section-head">
                <h3>Page Details</h3>
            </section>

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Name
                    <span>*</span> :</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input [(ngModel)]="page.name" name="name" class="form-control form-control-inline date-picker" type="text" required value="" #name="ngModel"
                    />
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
                        <div *ngIf="name.errors.required">
                            name is required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Slug
                    <span>*</span> :</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select [(ngModel)]="page.slug_id" name="slug_id" class="form-control form-control-inline date-picker" required type="text"
                        #slug_id="ngModel">
                        <option value="" selected>Please Select</option>
                        <option *ngFor="let slug of slugList" value="{{slug.id}}">{{slug.name}}</option>
                    </select> 
                    <div *ngIf="slug_id.invalid && (slug_id.dirty || slug_id.touched)" class="alert alert-danger">
                        <div *ngIf="slug_id.errors.required">
                            Slug is required.
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Meta Title
                    <span>*</span> :</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input [(ngModel)]="page.meta_title" name="meta_title" class="form-control form-control-inline date-picker"     type="text" value=""
                        #meta_title="ngModel" />
                       
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Meta Keyword
                    <span>*</span> :</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input [(ngModel)]="page.meta_keywords" name="meta_keywords" class="form-control form-control-inline date-picker"     type="text" value=""
                        #meta_keywords="ngModel" />
                       
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">Meta Description
                    <span>*</span> :</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input [(ngModel)]="page.meta_description" name="meta_description" class="form-control form-control-inline date-picker"     type="text" value=""
                        #meta_description="ngModel" />
                       
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">OG Title
                   :</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input [(ngModel)]="page.og_title" name="og_title" class="form-control form-control-inline date-picker"     type="text" value=""
                        #og_title="ngModel" />
                       
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">OG Description
                   :</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input [(ngModel)]="page.og_description" name="og_description" class="form-control form-control-inline date-picker"     type="text" value=""
                        #og_description="ngModel" />
                       
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-4 col-sm-4 col-xs-12">OG Image
                   :</label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input [(ngModel)]="page.og_image" name="og_image" class="form-control form-control-inline date-picker"     type="text" value=""
                        #og_image="ngModel" />
                </div>
            </div>
   

            <div class="action-buttons">
                <div class="col-md-8 col-sm-8 col-xs-12 col-md-offset-4 col-sm-offset-4 col-xs-offset-0">
                    <button type="submit" [disabled]="!userForm.form.valid" class="btn blue">Submit</button>
                    <button type="reset" href="javascript:;" class="btn grey" (click)="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </form>
</div>