<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide" src="assets/frontend/img/slide-1.png" alt="First slide">
      <div class="container">
        <div class="carousel-caption text-center">
          <h2>Another Example headline.</h2>
          <p class="card-box-btn">
            <a class="btn btn-lg btn-outline" href="#" role="button">Sign up today</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="second-slide" src="assets/frontend/img/slide-2.png" alt="Second slide">
      <div class="container">
        <div class="carousel-caption text-center">
          <h2>Another example headline.</h2>
          <p class="card-box-btn">
            <a class="btn btn-lg btn-outline" href="#" role="button">Learn more</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="third-slide" src="assets/frontend/img/slide-3.png" alt="Third slide">
      <div class="container">
        <div class="carousel-caption text-center">
          <h2>One more for good measure.</h2>
          <p class="card-box-btn">
            <a class="btn btn-lg btn-outline" href="#" role="button">Browse gallery</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="orange-area light-orange">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p class="mg-0 text-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          dummy text ever since the 1500s</p>
      </div>
      <div class="col-md-4 text-center">
        <button class="oranger-bar-btn">+91 977 9944 207</button>
      </div>
    </div>
  </div>
</div>
<div class="service-area">
  <div class="container-fluid marketing">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="section-title">
          <h1 class="black">India's Leading Hair, Skin & Cosmetic Surgery Clinic</h1>
          <h3 class="orange">New Delhi, Bangalore, Ludhiana</h3>
          <p>This is not mere statement but a religion with us. Our team strives very hard to meet the ever expanding needs
            & wishes of the patients. AK Clinics is amongst the fastest growing Cosmetic Surgery Clinics having served 1000s
            patients every year in our various branches. We work very hard to achieve excellence in the services especially
            Hair Transplant. This is the reason all our standards are at par or better than the best in the world.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- START THE FEATURETTES -->

  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-3">
        <div class="card mb-3 box-shadow">
          <img class="card-img-top" src="assets/frontend/img/service-4.png" width="275" height="225" alt="Card image cap">
          <div class="card-body text-center">
            <strong>Hair Transplant</strong>
            <p class="card-text">AK Clinics offers the complete services ranging from medical treat to surgical treatment to non-surgical treatment.</p>
            <div class="d-flex justify-content-between align-items-center card-box-btn">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline">Read More
                  <i class="icofont-long-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 box-shadow">
          <img class="card-img-top" src="assets/frontend/img/service-1.png" width="275" height="225" alt="Card image cap">
          <div class="card-body  text-center">
            <strong>Hair Restoration</strong>
            <p class="card-text">AK Clinics offers the complete services ranging from medical treat to surgical treatment to non-surgical treatment.</p>
            <div class="d-flex justify-content-between align-items-center card-box-btn">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline ">Read More
                  <i class="icofont-long-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 box-shadow">
          <img class="card-img-top" src="assets/frontend/img/service-2.png" width="275" height="225" alt="Card image cap">
          <div class="card-body  text-center">
            <strong>Cosmetic Surgery</strong>
            <p class="card-text">AK Clinics offers the complete services ranging from medical treat to surgical treatment to non-surgical treatment.</p>
            <div class="d-flex justify-content-between align-items-center card-box-btn">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline">Read More
                  <i class="icofont-long-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card mb-3 box-shadow">
          <img class="card-img-top" src="assets/frontend/img/service-3.png" width="275" height="225" alt="Card image cap">
          <div class="card-body  text-center">
            <strong>Cosmetology</strong>
            <p class="card-text">AK Clinics offers the complete services ranging from medical treat to surgical treatment to non-surgical treatment.</p>
            <div class="d-flex justify-content-between align-items-center card-box-btn">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline">Read More
                  <i class="icofont-long-arrow-right"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="service-area">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-md-2"> ghkhjkjhk </div>
      <div class="col-md-8">
        <div class="section-title">
          <h2 class="black">AK CLINICS - CENTER FOR WORLD CLASS</h2>
          <p>“AK Clinics was founded with the goal of transformation of looks of the entire human race. The purpose of existence
            of AK Clinics is to provide excellent treatments at an affordable cost.” </p>
          <p>This is not mere statement but a religion with us. Our team strives very hard to meet up with ever expanding needs
            & wishes of the patients. AK Clinics is amongst the fastest growing cosmetic surgery clinics having served thousands
            patients every year in our various branches. We’ve been working very hard to achieve excellence in the services
            we provide especially hair transplant. This is the reason all our
            <a href="#" target="_blank" class="link">efforts & standards</a> are at par or better than the best in the world.</p>
        </div>
      </div>
      <div class="col-md-2"> hjlhjll </div>
    </div>
  </div>
</div>
<div class="service-area">
  <div class="container-fluid">
    <div class="row">
      <div id="horizontalTab">
        <ul class="resp-tabs-list tab-ak">
          <li> Patients Ask</li>
          <li class=""> Blog </li>
          <li> Success Syudy</li>
        </ul>
        <div class="resp-tabs-container">
          <div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna, euismod ut ornare non, volutpat
              vel tortor. Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin
              nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis urna gravida mollis.</p>
          </div>
          <div>
            <h3 class="text-center p-4">Blog</h3>
            <div class="row">
              <div class="col-md-3">
                <div class="card mb-3 box-shadow">
                  <img class="card-img-top" src="assets/frontend/img/service-4.png" width="275" height="225" alt="Card image cap">
                  <div class="card-body text-center">
                    <strong>Hair Transplant</strong>
                    <p class="card-text">AK Clinics offers the complete services ranging from medical treat to surgical treatment to non-surgical
                      treatment.</p>
                    <div class="d-flex justify-content-between align-items-center card-box-btn">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline">Read More
                          <i class="icofont-long-arrow-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card mb-3 box-shadow">
                  <img class="card-img-top" src="assets/frontend/img/service-1.png" width="275" height="225" alt="Card image cap">
                  <div class="card-body  text-center">
                    <strong>Hair Restoration</strong>
                    <p class="card-text">AK Clinics offers the complete services ranging from medical treat to surgical treatment to non-surgical
                      treatment.</p>
                    <div class="d-flex justify-content-between align-items-center card-box-btn">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline ">Read More
                          <i class="icofont-long-arrow-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card mb-3 box-shadow">
                  <img class="card-img-top" src="assets/frontend/img/service-2.png" width="275" height="225" alt="Card image cap">
                  <div class="card-body  text-center">
                    <strong>Cosmetic Surgery</strong>
                    <p class="card-text">AK Clinics offers the complete services ranging from medical treat to surgical treatment to non-surgical
                      treatment.</p>
                    <div class="d-flex justify-content-between align-items-center card-box-btn">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline">Read More
                          <i class="icofont-long-arrow-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="card mb-3 box-shadow">
                  <img class="card-img-top" src="assets/frontend/img/service-3.png" width="275" height="225" alt="Card image cap">
                  <div class="card-body  text-center">
                    <strong>Cosmetology</strong>
                    <p class="card-text">AK Clinics offers the complete services ranging from medical treat to surgical treatment to non-surgical
                      treatment.</p>
                    <div class="d-flex justify-content-between align-items-center card-box-btn">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline">Read More
                          <i class="icofont-long-arrow-right"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div>
            <p>Suspendisse blandit velit Integer laoreet placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus
              lectus. Proin nunc erat, gravida a facilisis quis, ornare id lectus. Proin consectetur nibh quis Integer laoreet
              placerat suscipit. Sed sodales scelerisque commodo. Nam porta cursus lectus. Proin nunc erat, gravida a facilisis
              quis, ornare id lectus. Proin consectetur nibh quis urna gravid urna gravid eget erat suscipit in malesuada
              odio venenatis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="service-area">
  <div class="container ">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>Location</h2>
      </div>
      <div class="col-md-4">
        <a href="#" target="_blank">
          <div class="card mb-4 loc-box">
            <img class="card-img-top" src="assets/frontend/img/location-1.png" width="275" height="225" alt="Card image cap">
            <div class="card-body  text-center">
              <h3 class="loc-name">Kipps Market Ludhiana</h3>
            </div>
          </div>
        </a>
        <div class="rating">
          <h3>
            <i class="icofont-star icofont-2x"></i>Google Review</h3>
          <div class="rating-box">
            <i class="icofont-star icofont-2x"></i>
            <i class="icofont-star icofont-2x"></i>
            <i class="icofont-star icofont-2x"></i>
            <i class="icofont-star icofont-2x"></i>
            <i class="icofont-star icofont-2x"></i>
          </div>
          <div class="score">Score
            <span>5</span>
          </div>
          <div class="review">Review
            <span>200</span>
          </div>
          <p class="text-center">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
          <div class="d-flex justify-content-between align-items-center card-box-btn">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline light-orange">Read More
                <i class="icofont-long-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <a href="#" target="_blank">
          <div class="card mb-4 loc-box">
            <img class="card-img-top" src="assets/frontend/img/location-2.png" width="275" height="225" alt="Card image cap">
            <div class="card-body  text-center">
              <h3 class="loc-name">Greater Kalish Delhi</h3>
            </div>
          </div>
        </a>
        <div class="rating">
          <h3>
            <i class="icofont-star icofont-1x"></i>Google Review</h3>
          <div class="rating-box">
            <i class="icofont-star icofont-2x"></i>
            <i class="icofont-star icofont-2x"></i>
            <i class="icofont-star icofont-2x"></i>
            <i class="icofont-star icofont-2x"></i>
            <i class="icofont-star icofont-2x"></i>
          </div>
          <div class="score">Score
            <span>5</span>
          </div>
          <div class="review">Review
            <span>200</span>
          </div>
          <p class="text-center">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
          <div class="d-flex justify-content-between align-items-center card-box-btn">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline light-orange ">Read More
                <i class="icofont-long-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <a href="#" target="_blank">
          <div class="card mb-4 loc-box">
            <img class="card-img-top" src="assets/frontend/img/location-3.png" width="275" height="225" alt="Card image cap">
            <div class="card-body  text-center">
              <h3 class="loc-name"> 316 The Mayfair Bengaluru</h3>
            </div>
          </div>
        </a>
        <div class="rating">
          <h3>
            <i class="icofont-star icofont-1x"></i>Google Review</h3>
          <div class="rating-box">
            <i class="icofont-star icofont-2x"></i>
            <i class="icofont-star icofont-2x"></i>
            <i class="icofont-star icofont-2x"></i>
            <i class="icofont-star icofont-2x"></i>
            <i class="icofont-star icofont-2x"></i>
          </div>
          <div class="score">Score
            <span>5</span>
          </div>
          <div class="review">Review
            <span>200</span>
          </div>
          <p class="text-center">Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.</p>
          <div class="d-flex justify-content-between align-items-center card-box-btn">
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline light-orange ">Read More
                <i class="icofont-long-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>