<router-outlet></router-outlet>
<span *ngIf="this.prefix[1] =='admin'">
    <ngx-loading-bar color="#3598dc" includeSpinner></ngx-loading-bar>
</span>
<span *ngIf="this.prefix[1] !='admin'">
    <ngx-spinner bdColor="rgba(255,255,255,1)" size="medium" color="#1F1D1E" loadingText="Loading..."type="ball-spin-fade-rotating">
    </ngx-spinner>
</span>