<!-- FOOTER -->
<footer class="main-footer"> 
    <!-- Services block--> 

    <!-- Main block - menus, subscribe form-->
    <div class="py-3 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 mb-5 mb-lg-0">
                    <div class="font-weight-bold text-uppercase text-lg light-orange-color mb-3">AK Clinics<span class="text-primary">.</span></div>
                    <p class="text-muted">

                        Ak Clinics, with award winning clinics India wide, has over 10 years experience in offering the best in cosmetic surgery including breast enlargement, breast reduction, tummy tuck, rhinoplasty, liposuction, varicose vein removal, VASER lipo, FUE hair transplant and skin treatments such as dermal fillers, lip fillers, acne treatment and laser hair removal.</p>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#" target="_blank" title="twitter" class="text-muted text-hover-primary"><i class="fab fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="facebook" class="text-muted text-hover-primary"><i class="fab fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="instagram" class="text-muted text-hover-primary"><i class="fab fa-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="pinterest" class="text-muted text-hover-primary"><i class="fab fa-pinterest"></i></a></li>
                        <li class="list-inline-item"><a href="#" target="_blank" title="vimeo" class="text-muted text-hover-primary"><i class="fab fa-vimeo"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase light-orange-color mb-3">Quick Links</h6>
                    <ul class="list-unstyled">
                        <li> <a href="#" class="text-muted">Hair Transplant</a></li>
                        <li> <a href="#" class="text-muted">Hair Loss</a></li>
                        <li> <a href="#" class="text-muted">Hair Restoration</a></li>
                        <li> <a href="#" class="text-muted">Cosmetology</a></li>
                        <li> <a href="#" class="text-muted">Cosmetic Surgery</a></li>

                        <li> <a href="#" class="text-muted">Results</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                    <h6 class="text-uppercase light-orange-color mb-3">Contact Information</h6>
                    <ul class="list-unstyled">
                        <li class="text-muted">M-20, GK-I, Near M Block Market, Delhi</li>
                        <li class="text-muted">51-E, Sarabha Nagar, Ludhiana, Punjab</li>
                        <li class="text-muted">1st Floor, 316 The Mayfair, Indiranagar, Bengaluru</li>

                        <li class="text-muted orange big-font">  +91-97799-44207</li>
                        <li>   <button class="oranger-bar-btn">Free Online Consulation</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Copyright section of the footer-->
    <div class="py-4 font-weight-light bg-gray-800 text-gray-300">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-left">
                    <p class="mb-md-0">© 2018 Your company.  All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline mb-0 mt-2 mt-md-0 text-center text-md-right orange">
                        <li class="list-inline-item"><i  class="icofont-facebook icofont-2x"></i></li>
                        <li class="list-inline-item"><i class="icofont-twitter icofont-2x"></i></li>
                        <li class="list-inline-item"><i class="icofont-linkedin icofont-2x"></i></li>
                        <li class="list-inline-item"><i class="icofont-youtube icofont-2x"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>