<link href="/assets/frontend/css/bootstrap.min.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/frontend/css/icofont.min.css">
  <!-- Custome core CSS -->
  <link href="/assets/frontend/css/custom.css" type="text/css" rel="stylesheet">

  <!-- Custom styles for this banner -->
  <link rel="stylesheet" type="text/css" href="/assets/frontend/css/easy-responsive-tabs.css">
<!-- Header Area Start Here -->
<front-header></front-header>
<!-- Header Area End Here -->
<main role="main">     
    
    <!-- Header Area End Here -->
    <!-- <ngx-spinner bdColor = "rgba(51,51,51,0.8)"size = "large" color = "#fff"type = "ball-clip-rotate-pulse"></ngx-spinner> -->
    <router-outlet></router-outlet>
    <!-- Brand Area End Here -->
    <!-- Footer Area Start Here -->
    <front-footer></front-footer>
    <!-- Footer Area End Here -->
</main>
<!-- Preloader Start Here -->
<!-- <div id="preloader"></div> -->        