<!-- Bootstrap core CSS -->
<header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-white"> <a class="navbar-brand" href="#"><img src="assets/frontend/img/akclinics-logo.png" width="158" height="70" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active dropdown"> <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03"> <a class="dropdown-item" href="#">Hair Transplant Training</a> </div>
                </li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Hair Transplant</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03"> <a class="dropdown-item" href="#">Hair Transplant Cost</a> <a class="dropdown-item" href="#">FUE Hair Transplant</a> <a class="dropdown-item" href="#">FUT Hair Transplant</a> <a class="dropdown-item" href="#">Hair Transplant Techniques</a> <a class="dropdown-item" href="#">Facial Hair Transplant</a> <a class="dropdown-item" href="#">Beard Transplant</a> <a class="dropdown-item" href="#">Bio FUE</a> <a class="dropdown-item" href="#">Body Hair Transplant</a> <a class="dropdown-item" href="#">Revision Hair Transplant</a> <a class="dropdown-item" href="#">Post Operative Care</a> </div>
                </li>
                <li class="nav-item"> <a class="nav-link" href="#">Hair Loss</a> </li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Hair Restoration</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03"> <a class="dropdown-item" href="#"> Hair Gain Therapy</a> <a class="dropdown-item" href="#">PRP Hair Treatment</a> <a class="dropdown-item" href="#">Artificial Hair Restoration</a> <a class="dropdown-item" href="#">Scalp Micro Pigmentation</a> <a class="dropdown-item" href="#">Mesotherapy</a> </div>
                </li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false"> Cosmetic Surgery</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03"> <a class="dropdown-item" href="#">Cosmetic Surgery</a> <a class="dropdown-item" href="#">Rhinoplasty</a> <a class="dropdown-item" href="#">Blepharoplasty</a> <a class="dropdown-item" href="#">Gynecomastia</a> <a class="dropdown-item" href="#">Vitiligo Treatment</a> <a class="dropdown-item" href="#">Abdominoplasty</a> <a class="dropdown-item" href="#">Liposuction</a> <a class="dropdown-item" href="#">Breast Augmentation</a> <a class="dropdown-item" href="#">Breast Reduction</a> <a class="dropdown-item" href="#">Cosmetic Gynaecology</a> <a class="dropdown-item" href="#">Male Genital Surgery</a> </div>
                </li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-toggle="dropdown"  aria-haspopup="true" aria-expanded="false">Cosmetology</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03"> <a class="dropdown-item" href="#"> Laser Hair Removal</a> <a class="dropdown-item" href="#">Non Surgical Liposuction</a> <a class="dropdown-item" href="#">Skin Polishing</a> <a class="dropdown-item" href="#">Stretch Marks Treatment</a> <a class="dropdown-item" href="#">Laser Photo Facial</a> <a class="dropdown-item" href="#">Ultherapy Treatment</a> <a class="dropdown-item" href="#">Chemical Peels</a> <a class="dropdown-item" href="#">Acne Treatment</a> <a class="dropdown-item" href="#">Pigmentation Treatment</a> <a class="dropdown-item" href="#">Laser Vaginal Rejuvenation</a> <a class="dropdown-item" href="#">Anti Ageing Treatments</a> <a class="dropdown-item" href="#">Ultracel Skin Tightening</a> </div>
                </li>
                <li class="nav-item"> <a class="nav-link" href="#">Result</a> </li>
                <li class="nav-item"> <a class="nav-link" href="#">Blog</a> </li>
                <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Location</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown03"> <a class="dropdown-item" href="#">Ludhiana</a> <a class="dropdown-item" href="#">Delhi</a> <a class="dropdown-item" href="#">Bangalore</a> </div>
                </li>
                <li class="nav-item"> <a class="nav-link" href="#">Contact Us</a> </li>
            </ul>
        </div>
    </nav>
</header>