<link rel="stylesheet" href="/assets/pages/css/login-2.min.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="/assets/global/css/components.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/global/plugins/font-awesome/css/font-awesome.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/global/plugins/bootstrap/css/bootstrap.min.css" type="text/css" media="screen" />
<link rel="stylesheet" href="/assets/layouts/layout/css/themes/darkblue.min.css" type="text/css" media="screen" />
<!-- <link href="/assets/pages/css/login-2.min.css" rel="stylesheet" type="text/css" /> -->
<div class="login" ng-cloak>
  <!-- BEGIN LOGO -->
  <div class="logo">
    <a href="index.html">
      <img src="assets/images/logo.png" alt="logo" style="position:  relative; top:  35px;"/> </a>
  </div>
  <!-- END LOGO -->
  <!-- BEGIN LOGIN -->
  <div class="content">
      <flash-messages></flash-messages>
    <app-login></app-login>
  </div>
  <div class="copyright hide"> 2018 © Tech Formation </div>
</div>
<!-- END LOGIN -->
<script src="/assets/pages/scripts/login.min.js" type="text/javascript"></script>